# Ignora bin e obj de qualquer configuração
**/bin/
**/obj/
obj/
bin/
# Ignora arquivos temporários gerados pelo build
*.dll
*.exe
*.pdb
*.cache
*.csproj.BuildWithSkipAnalyzers
*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.nuget.dgspec.json
*.nuget.cache
*.assets.cache
*.vs
# Ignora pastas específicas de release e debug
Gestor De Pule/bin/Release/
Gestor De Pule/bin/Debug/
Gestor De Pule/obj/Debug/
Gestor De Pule/obj/Release/
Gestor De Pule/obj/
Gestor De Pule/bin/Debug/net9.0-windows/Gestor De Pule.dll
Gestor De Pule/bin/Debug/net9.0-windows/Gestor De Pule.exe
Gestor De Pule/bin/Debug/net9.0-windows/Gestor De Pule.pdb
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.AssemblyInfo.cs
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.AssemblyInfoInputs.cache
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.csproj.GenerateResource.cache
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.dll
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.pdb
Gestor De Pule/obj/Debug/net9.0-windows/Gestor De Pule.sourcelink.json
Gestor De Pule/obj/Debug/net9.0-windows/apphost.exe
Gestor De Pule/obj/Debug/net9.0-windows/ref/Gestor De Pule.dll
Gestor De Pule/obj/Debug/net9.0-windows/refint/Gestor De Pule.dll

# Ignora arquivos temporários gerados por WPF ou WinForms
*_wpftmp.*
*.csproj.user

#Outros

Gestor_De_Pule.rar
publish/
