# Ignora bin e obj de qualquer configuração
**/bin/
**/obj/

# Ignora arquivos temporários gerados pelo build
*.dll
*.exe
*.pdb
*.cache
*.csproj.BuildWithSkipAnalyzers
*.GeneratedMSBuildEditorConfig.editorconfig
*.GlobalUsings.g.cs
*.nuget.dgspec.json
*.nuget.cache
*.assets.cache
*.vs
# Ignora pastas específicas de release e debug
Gestor De Pule/bin/Release/
Gestor De Pule/bin/Debug/
Gestor De Pule/obj/Debug/
Gestor De Pule/obj/Release/

# Ignora arquivos temporários gerados por WPF ou WinForms
*_wpftmp.*
*.csproj.user
